.flex-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 70vh;
}

.card-img-top {
  background-color: aqua;
  padding: 10px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: auto;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e2e6ea;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #456882;
  border-right: 1px solid #dee2e6;
  transition: all 0.3s ease;
  z-index: 900;
  overflow-y: auto;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: all 0.3s ease;
}

body.sidebar-hidden .sidebar {
  left: -250px;
}

#sidebarToggle {
  background-color: #dee2e6;
}

body.sidebar-hidden .main-content {
  margin-left: 0;
}

.list-group-item {
  background-color: #456882;
}

#outputResult {
    overflow-y: hidden;
    resize: none; 
    min-height: 100px; 
    transition: height 0.2s ease; 
}

#inputForm {
    overflow-y: hidden; 
    resize: none;       
    min-height: 100px;  
    transition: height 0.1s ease; 
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }
  .main-content {
    margin-left: 0;
  }

  body.sidebar-show .sidebar {
    left: 0;
  }

  .sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 800;
  }
  body.sidebar-show .sidebar-overlay {
    display: block;
  }
}
